# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# Node projects
node_modules/
projects/**/node_modules/
projects/**/docs/
